img {
  width: 80%;
  height: auto;
}

h1 {
  color: white;
  text-align: center;
}

.grey {
  background-color: grey;
}

h2 {
  color: white;
  text-align: center;
  font-size: 85%;
}

h3 {
  color: white;
  text-align: center;
  font-size: 95%;
}

#butclick {
  text-align: center;
}

#butt {
  padding: 100px 100px;
}

#bost {
  border-radius: 12px;
  height: 50px;
  background: linear-gradient(45deg, #3f5efb 0%, #d400f3 50%, #fc466b 100%);
}

#boost {
  text-align: center;
  position: relative;
  bottom: 200px;
}

#but {
  opacity: 0;
  text-align: center;
  position: relative;
  bottom: 240px;
}

#bg {
  height: 100vh;
  background: linear-gradient(45deg, #3f5efb 0%, #d400f3 50%, #fc466b 100%);
}